body {
	font-family: Josefin Sans, sans-serif;
	background-color: #B0C4DE;
	text-align: center;
}
#board {
	background-color: #cdc1b5;
	width: 400px;
	height: 400px;
	border-radius: 5px;
	border: 6px solid #bbada0;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.tile{
	width: 90px;
	height: 90px;
	border: 5px solid #bbada0;
	font-size: 40px;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
}

.v0 {
	
}
.v2 {
	background-color: #eee4da;
	color: #727371;
}

.v4 {
	background-color: #ece0ca;
	color: #727371;
}

.v16 {
	background-color: #f59575;
	color: #white;
}

.v32 {
	background-color: #f57c5f;
	color: #white;
}

.v64 {
	background-color: #f65d3b;
	color: #white;
}

.v128 {
	background-color: #edce71;
	color: #white;
}

.v256 {
	background-color: #edcc63;
	color: #white;
}

.v1024 {
	background-color: #edc651;
	color: #white;
}

.v2048 {
	background-color: #ecc230;
	color: #white;
}

.v4096 {
	background-color: #fe3d3d;
	color: #white;
}

.v8192 {
	background-color: #ff2020;
	color: #white;
}

